html {
  background-color: black;
}

body {
  width: 90vw;
  height: 100vh;
  background-color: white;
  margin: auto;
  padding: 20px;
  max-width: 1000px;
}

button {
  flex: 1 0 auto;
}

.data-option {
  border: black 1px solid;
  border-radius: 5px;
  flex: 1 1 0px;
  margin: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.data-option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
